* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header js*/
header {
  display: flex;
  max-width: 100%;
  height: 100px;
  flex-direction: row;
  align-items: center;
  background-color: #333;
}
.logo-name {
  color: rgb(45, 185, 250);
  padding: 0 0 0 2rem;
  font-size: 2.5rem;
  width: 40%;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  padding: 0 1rem 0;
}
a {
  padding: 0.3rem;
  text-decoration: none;
  color: rgb(45, 185, 250);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
a:hover {
  transition: all 0.255s ease-in;
  color: rgb(45, 185, 250, 0.6);
}

.shop-icon {
  display: flex;
  justify-content: center;
}
/* hero js */
.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  height: 70vh;
}
.hero-title {
  color: rgb(45, 185, 250);
  font-size: 3rem;
  margin: 2rem 0;
}

/* PhoneLayout Component */
.phone_layout_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.best_seller_items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.best-h2 {
  margin-top: 1rem;
}

.best_seller_images {
  width: 50%;
}
